# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test
coverage/
.nyc_output/

# Prisma
prisma/*.db
prisma/*.db-journal
